#gri{
  display: flex;
}
.ogo{
  height: 50px;
  width: 200px;
}

.na{
  color: black;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 300px;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif; 
}

#mid{
  color: black;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 30px;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif; 
}

.las{
  margin-top: 15px;
  margin-left: 300px;
}
#last{
  margin-top: 15px;
  margin-left: 50px;
}

.col{
  position: relative;
  left: -15px;
  

} 

.fin{
  display: flex;
  width: 110%;
  height: 600px;
  z-index: -1;
}

.direction{
  position: absolute;
  bottom: 50px;
  right: 20px;
  background-color: antiquewhite;;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 300px;
  width: 400px;
}

h5{
  color:black;
}
.near{
  margin-top: -15px;
}

h1{
  color: rgb(190, 146, 32);
  font-size: x-larger;
  margin-top: -15px;
}

.man{
  margin-top: -34px;
}

p{
  color: black;
}

button{
  height: 50px;
  width: 150px;
  background-color:  rgb(190, 146, 32);
  margin-top: 34px;
  border: 1px solid rgb(190, 146, 32);
}

.remove{
  text-decoration: none;
  color: white;
  font-size: large;
}